@model List<ServiceDetail>

@if (ViewData["Message"] != null)
{
    <div class="alert alert-dismissible alert-info">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @ViewData["Message"]
    </div>
}

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @ViewData["ErrorMessage"]
    </div>
}
@if (ViewData["SuccessMessage"] != null)
{
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @ViewData["SuccessMessage"]
    </div>
}
@{
    ViewData["Title"] = "View";
}
<br />
<h3>Add From Excel</h3>
<hr />

<form asp-controller="Create" asp-action="CreateFromExcel" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="input-group mb-3">
                <input type="file" class="form-control" name="excelFile" placeholder="Upload Excel" aria-label="Upload Excel" aria-describedby="BtnXlUpload" id="TxtXlUpload" accept=".xls,.xlsx" required>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <button class="btn btn-primary" type="submit" id="BtnXlUpload" asp-action="Upload">Upload</button>
            <input type="submit" value="Cancel" class="btn btn-outline-secondary" asp-controller="Services" asp-action="Index" id="CancelBtn" />
        </div>
    </div>
</form>
<form asp-action="CreateFromExcel" method="post">
    @if (Model is null) return;
    <br />
    <legend>Services</legend>
    <table class="auto-width-table table table-hover table-bordered table-responsive table-group-divider">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model![0].Name)</th>
                <th scope="col">@Html.DisplayNameFor(model => model![0].Enable)</th>
                <th scope="col">@Html.DisplayNameFor(model => model![0].Period)</th>
                <th scope="col">@Html.DisplayNameFor(model => model![0].Table)</th>
                <th scope="col">@Html.DisplayNameFor(model => model![0].Endpoint)</th>
                <th scope="col">Query String</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td title="@Model[i].Name">
                        <input type="text" name="ServiceList[@i].Name" value="@Model[i].Name" class="form-control-plaintext" />
                        <span asp-validation-for="@Model[i].Name" class="text-danger"></span>
                    </td>
                    <td title="@Model[i].Enable">
                        <input class="form-check-input" type="checkbox" name="ServiceList[@i].Enable" value="true" @(Model[i].Enable ? "checked" : "") />
                        <input type="hidden" name="ServiceList[@i].Enable" value="false" />
                        <span asp-validation-for="@Model[i].Enable" class="text-danger"></span>
                    </td>
                    <td title="@Model[i].Period">
                        <input type="text" name="ServiceList[@i].Period" value="@Model[i].Period" class="form-control-plaintext" />
                        <span asp-validation-for="@Model[i].Period" class="text-danger"></span>
                    </td>
                    <td title="@Model[i].Table">
                        <input type="text" name="ServiceList[@i].Table" value="@Model[i].Table" class="form-control-plaintext" />
                        <span asp-validation-for="@Model[i].Table" class="text-danger"></span>
                    </td>
                    <td title="@Model[i].Endpoint">
                        <input type="text" name="ServiceList[@i].Endpoint" value="@Model[i].Endpoint" class="form-control-plaintext" />
                        <span asp-validation-for="@Model[i].Endpoint" class="text-danger"></span>
                    </td>
                    <td title="@Model[i].QueryString">
                        <input type="text" name="ServiceList[@i].QueryString" value="@Model[i].QueryString" class="form-control-plaintext" data-val="false" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <input type="submit" value="Add" class="btn btn-primary" asp-action="CreateFromExcel" />
    <button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("Reset", "Create")'">Reset</button>
</form>
<script>
    document.getElementById("CancelBtn").
        addEventListener("click", function () {
            window.location.href =
                '@Url.Action("Index", "Services")';
        });
    // Update the label to show the selected file name or default message
    document.getElementById('TxtXlUpload').addEventListener('change', function (event) {
        const input = event.target;
        const label = document.getElementById('file-label');
        const fileName = input.files.length > 0 ? input.files[0].name : 'Upload Excel';
        label.textContent = fileName;
    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

