@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<List<ServiceDto>>

@if (ViewData["Message"] != null)
{
    <div class="alert alert-dismissible alert-info">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @ViewData["Message"]
    </div>
}

@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @ViewData["ErrorMessage"]
    </div>
}
@if (ViewData["SuccessMessage"] != null)
{
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @ViewData["SuccessMessage"]
    </div>
}
@{
    ViewData["Title"] = "Services";
}
<br />
<div runat="server" class="form-horizontal form-group">
    <form asp-controller="Services" asp-action="Index" method="get">
        @{
            if (Model is null || Model.Count < 1 || Model[0] is null || Model[0].Count() < 1) return;
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <label asp-for="@Model[0][0].Name" class="control-label">Services</label>
                    <select asp-items="@ViewData["ServiceSet"] as SelectList" id="DdlNames" class="form-select" name="searchString">
                        <option class="dropdown-item" value="">All</option>
                    </select>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <br />
                    <input type="submit" value="View" class="btn btn-primary" />
                </div>
            </div>
            <br />
            @* <legend>Services</legend> *@
            <div class="table-container">
                <table class="table table-hover table-bordered table-responsive table-group-divider responsive-table table-wrapper">
                    <thead>
                        <tr>
                            <th>Edit</th>
                            <th>Delete</th>
                            <th>Sno</th>
                            <th scope="col">@Html.DisplayNameFor(model => model[1][0].Name)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model[1][0].Enable)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model[1][0].Period)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model[1][0].Table)</th>
                            <th scope="col">@Html.DisplayNameFor(model => model[1][0].Endpoint)</th>
                            <th scope="col">Query String</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 0;
                            foreach (var item in Model![1])
                            {
                                i++;
                                <tr>
                                    <td>
                                        <a asp-action="Edit" asp-route-endPoint="@item.Endpoint" title="Edit">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                            </svg>
                                        </a>
                                    </td>
                                    <td style="align-content:center">
                                        <a asp-action="Delete" asp-route-Endpoint="@item.Endpoint" asp-route-name="@item.Name" title="Delete" onclick="return confirm('Are you sure you want to delete @item.Name service')">
                                            <svg xmlns="http:www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                                            </svg>
                                        </a>
                                    </td>
                                    <td title="@i"> @i</td>
                                    <td title="@item.Name"> @Html.DisplayFor(modelItem => item.Name)</td>
                                    <td> @Html.DisplayFor(modelItem => item.Enable)</td>
                                    <td title="@item.Period"> @Html.DisplayFor(modelItem => item.Period)</td>
                                    <td title="@item.Table"> @Html.DisplayFor(modelItem => item.Table)</td>
                                    <td title="@item.Endpoint"> @Html.DisplayFor(modelItem => item.Endpoint)</td>
                                    <td title="@item.QueryString"> @Html.DisplayFor(modelItem => item.QueryString)</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <br />
            <div class="modal" id="confirmModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmModalTitle">Delete</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p id="confirmModalMessage"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary" id="confirmYesButton">Yes</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="confirmNoButton">No</button>
                        </div>
                    </div>
                </div>
            </div>
            <form>
                <input type="submit" value="Submit" class="btn btn-primary" asp-action="Submit" />
                <button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("Reset", "Services")'">Reset</button>
            </form>
        }
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready
        (
            function () {
                let deleteRouteEndpoint = '';
                function ShowConfirmModal (title, message, yesBtnTxt, noBtnTxt) {
                    debugger;
                    $('#confirmModalTitle').text(title);
                    $('#confirmModalMessage').text(message);
                    $('#confirmYesButton').text(yesBtnTxt);
                    $('#confirmNoButton').text(noBtnTxt);
                    $('#confirmModal').modal('show');
                    return true;
                }
                // Example usage: Attach this to a button click
                $('#acndelete').on
                    ('click',
                        function () {
                            // Call the function with the message and form action
                            ShowConfirmModal('Delete', 'Are you sure you want to delete the service?', 'Yes', 'No');
                        }
                    );
                $('#confirmYesButton').on('click', function () {
                    $.ajax({
                        URL: '/Service/Delete',
                        type: 'Delete',
                        data: { endPoint: deleteRouteEndpoint },
                        error: function (xhr, status, error) {
                            // Optionally handle the error
                            console.error('Delete failed:', error);
                        }
                    });
                    // Hide the modal
                    var modal = bootstrap.Modal.getInstance($('#confirmModal'));
                    modal.hide();
                });
            }
        );
</script>
@*  <div class="row">
            <br />
            <br />
            <br />
            <div class="col-1">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-primary" asp-action="Submit">Submit</button>
            <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <input type="submit" class="dropdown-item" value="Submit & Restart" asp-action="SubmitNRestart" />
            </div>
            </div>
            </div>
            </div>
            </div> *@